* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  #app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: sans-serif;
    color: #333;
    background-color: #f3e4d7;
  }

  .leaflet-container {
    width: 100%;
    height: calc(100vh - 3em);
  }